.main {
    display: flex;
    position: absolute;
    top: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    height: 70px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}