    .single-note {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin: 15px;
        height: 200px;
        width: 300px;
        .note-container {
            padding: 10px;
            position: relative;
            .note-author {
                background: #fff;
                padding: 0 5px;
                position: absolute;
                top: -10px;
            }
            .note-description {
                a {
                    color: #000;
                    text-decoration: none;
                }
            }
            .block-ellipsis {
                display: block;
                display: -webkit-box;
                font: 400 14px/1.2em sans-serif;
                max-width: 100%;
                max-height: 11.4em;
                margin: 0 auto;
                font-size: 14px;
                line-height: 1.2;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }