    .single-note {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        margin: 15px;
        height: 200px;
        width: 300px;
        .note-container {
            padding: 10px;
            position: relative;
            .note-author {
                background: #fff;
                padding: 0 5px;
                position: absolute;
                top: -10px;
            }
            .note-description {
                font: 400 14px/1.2em sans-serif;
                line-height: 1.2em;
                max-height: 11.4em;
                overflow: hidden;
                position: relative;
                margin-right: -1em;
                padding-right: 1em;
                text-align: justify;
                a {
                    color: #000;
                    text-decoration: none;
                }
                &::before {
                    background: #fff;
                    content: ' ... ';
                    position: absolute;
                    right: 15px;
                    ;
                    bottom: 0;
                }
                &::after {
                    /* points in the end */
                    content: '';
                    /* absolute position */
                    position: absolute;
                    right: 0;
                    width: 1em;
                    height: 1.2em;
                    margin-top: 0.2em;
                    background: white;
                }
            }
        }
    }